on init
    #zte add for usb otg disable_host_mode
    chown system system /sys/module/dwc3_msm/parameters/disable_host_mode
    chown system system /sys/devices/platform/soc/a600000.ssusb/host_mode

on late-init
    #wait /sys/class/power_supply/bcl/charge_full
    chown system system /sys/class/power_supply/bcl/serial_number
    chown system system /sys/class/power_supply/bcl/authentic
    chown system system /sys/class/power_supply/bcl/charge_now
    chown system system /sys/class/power_supply/bcl/current_avg
    chown system system /sys/class/power_supply/bcl/charge_full
    chown system system /sys/class/power_supply/bcl/charge_full_design
    chown system system /sys/module/zte_misc/parameters/policy_enable
    chmod 0664  /sys/module/zte_misc/parameters/policy_enable

on property:sys.boot_completed=1
    chmod 0755 /sys/kernel/tracing

on boot
    wait /sys/class/qcom-battery/battery_charging_enabled
    chown root system /sys/class/qcom-battery/battery_charging_enabled
    chmod 0664 /sys/class/qcom-battery/battery_charging_enabled
    wait /sys/class/qcom-battery/charge_mode
    chown root system /sys/class/qcom-battery/charge_mode
    chmod 0664 /sys/class/qcom-battery/charge_mode

on post-fs-data
    # add for CHG related interface permissions
    chmod 0660 /sys/class/power_supply/battery/charging_enabled
    chown root system sys/class/power_supply/battery/charging_enabled
    chmod 0660 /sys/module/zte_misc/parameters/enable_to_shutdown
    chown root system /sys/module/zte_misc/parameters/enable_to_shutdown
    chmod 0660 /sys/module/zte_misc/parameters/charging_enabled
    chown root system /sys/module/zte_misc/parameters/charging_enabled
    chmod 0660 /sys/module/zte_misc/parameters/poweroff_bs
    chown root system /sys/module/zte_misc/parameters/poweroff_bs
    chmod 0660 /sys/module/zte_misc/parameters/factory_mode
    chown root system /sys/module/zte_misc/parameters/factory_mode
    chmod 0660 /sys/class/power_supply/battery/voltage_max_design
    chown root system sys/class/power_supply/battery/voltage_max_design
    chmod 0660 /sys/class/power_supply/battery/voltage_min_design
    chown root system sys/class/power_supply/battery/voltage_min_design
    chmod 0660 /sys/module/zte_misc/parameters/store_mode
    chown root system /sys/module/zte_misc/parameters/store_mode

    #add for charging policy
    chown system system /sys/module/zte_misc/parameters/demo_charging_policy
    chown system system /sys/module/zte_misc/parameters/expired_charging_policy
    chown system system /sys/module/zte_misc/parameters/screen_on
    chown system system /sys/module/zte_misc/parameters/super_charge_mode
    chown system system /sys/class/qcom-battery/screen_is_on
    chown system system /sys/module/zte_misc/parameters/wls_nu_cep
    chown system system /sys/module/zte_misc/parameters/wls_nu_iout
    chown system system /sys/module/zte_misc/parameters/wls_nu_usbtype
    chown system system /sys/module/zte_misc/parameters/wls_nu_vout
    chown system system /sys/module/zte_misc/parameters/wls_nu_vrect
    chown system system /sys/module/zte_misc/parameters/wls_boost_en
    chown system system /sys/module/zte_misc/parameters/wls_nu_fw_update
    chown system system /sys/module/zte_misc/parameters/wls_nu_ver
    chown system system /sys/module/zte_misc/parameters/wls_nu_sleep

    #add for battery charging cycle counter
    chown system system /persist/charging_cycles
    chmod 0664 /persist/charging_cycles
    #add for lcd node by ZTE
    chown system system /proc/driver/lcd_hbm
    chmod 0666 /proc/driver/lcd_hbm
    chown system system /proc/driver/lcd_hdr
    chmod 0666 /proc/driver/lcd_hdr
    chown system system /proc/driver/lcd_aod_bl
    chmod 0666 /proc/driver/lcd_aod_bl
    chown system system /proc/driver/lcd_color_gamut
    chmod 0666 /proc/driver/lcd_color_gamut
    chown system system /proc/driver/lcd_fps
    chmod 0666 /proc/driver/lcd_fps
    chown system system /proc/driver/lcd_acl
    chmod 0666 /proc/driver/lcd_acl
    chown system system /proc/driver/lcd_global_hbm
    chmod 0666 /proc/driver/lcd_global_hbm
    chown system system /proc/driver/lcd_fod_unlock_status
    chmod 0666 /proc/driver/lcd_fod_unlock_status
    chown system system /proc/driver/lcd_dbi_status
    chmod 0666 /proc/driver/lcd_dbi_status
    chown system system /proc/driver/lcd_fgp
    chmod 0666 /proc/driver/lcd_fgp
    chown system system /proc/driver/lcd_elvdd
    chmod 0666 /proc/driver/lcd_elvdd
    chown system system /proc/driver/lcd_lspot
    chmod 0666 /proc/driver/lcd_lspot
    chown system system /proc/driver/lcd_thermal_max_brightness
    chmod 0666 /proc/driver/lcd_thermal_max_brightness
    chown system system /proc/driver/lcd_gesture
    chmod 0666 /proc/driver/lcd_gesture
    chown system system /proc/driver/lcd_bl_limit
    chmod 0666 /proc/driver/lcd_bl_limit
    chown system system /proc/driver/lcd_lp
    chmod 0666 /proc/driver/lcd_lp
    chown system system /proc/driver/lcd_second_irq_fps
    chmod 0666 /proc/driver/lcd_second_irq_fps
    chown system system /proc/driver/lcd_spr
    chmod 0666 /proc/driver/lcd_spr

    # add for ignor sddump control
    chown system system /sys/module/msm_poweroff/parameters/ignore_sd_dump
    chmod 0664 /sys/module/msm_poweroff/parameters/ignore_sd_dump

    # add for ramdump report
    chown system system /sys/module/subsystem_restart/parameters/sddump_status
    chmod 0664 /sys/module/subsystem_restart/parameters/sddump_status

    # add for secureemode
    chmod 0644 /sys/module/audit/parameters/audit_printk_no_ratelimit
    chown system system /sys/module/audit/parameters/audit_printk_no_ratelimit

    # add for fingerprint send event
    chown system system /proc/fingerprint/goodix_nav_event
    chmod 0644 /proc/fingerprint/goodix_nav_event

    chown system input /dev/input/event0
    chown system input /dev/input/event1
    chown system input /dev/input/event2
    chown system input /dev/input/event3
    chown system input /dev/input/event4
    chown system input /dev/input/event5
    chown system input /dev/input/event6
    chown system input /dev/input/event7
    chown system input /dev/input/event8
    chown system input /dev/input/event9

    chown system system /sys/class/sensor/sar_sensor/sar0_sensor/enable
    chmod 0664 /sys/class/sensor/sar_sensor/sar0_sensor/enable
    chown system system /sys/class/sensor/sar_sensor/sar1_sensor/enable
    chmod 0664 /sys/class/sensor/sar_sensor/sar1_sensor/enable
    chown system system /sys/class/sensor/sar_sensor/sar0_sensor/calibrate
    chmod 0664 /sys/class/sensor/sar_sensor/sar0_sensor/calibrate
    chown system system /sys/class/sensor/sar_sensor/sar1_sensor/calibrate
    chmod 0664 /sys/class/sensor/sar_sensor/sar1_sensor/calibrate

    # add for pm_debug
    chown system system /sys/module/pm_debug/parameters/sleep_zswscnoff_state
    chmod 0644 /sys/module/pm_debug/parameters/sleep_zswscnoff_state

    chown system system /sys/module/pm_debug/parameters/sleep_zswaod_state
    chmod 0644 /sys/module/pm_debug/parameters/sleep_zswaod_state

    chown system system /sys/module/pm_debug/parameters/trigger_wakepercent
    chmod 0644 /sys/module/pm_debug/parameters/trigger_wakepercent

    chown system system /sys/module/pm_debug/parameters/time_screen_off
    chmod 0644 /sys/module/pm_debug/parameters/time_screen_off

    chown system system /sys/module/pm_debug/parameters/time_subsyswake
    chmod 0644 /sys/module/pm_debug/parameters/time_subsyswake

    chown system system /sys/module/pm_debug/parameters/time_nexttrigger
    chmod 0644 /sys/module/pm_debug/parameters/time_nexttrigger

    chown system system /sys/module/pm_debug/parameters/forcetrigger_which
    chmod 0644 /sys/module/pm_debug/parameters/forcetrigger_which

    # add for camera app acces
    chmod 0775 /data/vendor/camera

    # add for wls pen shipmode
    chmod 0666 /sys/module/zte_misc/parameters/enable_wls_tx_pen_shipmode

on post-fs-data
    # aw210xx led
    chmod 0660 /sys/class/leds/aw210xx_led/groupcolor
    chown system system /sys/class/leds/aw210xx_led/groupcolor
    chmod 0660 /sys/class/leds/aw210xx_led/breathcolor
    chown system system /sys/class/leds/aw210xx_led/breathcolor
    chmod 0660 /sys/class/leds/aw210xx_led/dancecolor
    chown system system /sys/class/leds/aw210xx_led/dancecolor
    # aw22xxx led
    chown system system /sys/class/leds/aw22xxx_led/reg
    chown system system /sys/class/leds/aw22xxx_led/hwen
    chown system system /sys/class/leds/aw22xxx_led/fw
    chown system system /sys/class/leds/aw22xxx_led/cfg
    chown system system /sys/class/leds/aw22xxx_led/effect
    chown system system /sys/class/leds/aw22xxx_led/imax
    chown system system /sys/class/leds/aw22xxx_led/rgb
    chown system system /sys/class/leds/aw22xxx_led/task0
    chown system system /sys/class/leds/aw22xxx_led/task1
    chown system system /sys/class/leds/aw22xxx_led/brightness
    chown system system /sys/class/leds/aw22xxx_led/max_brightness
    chown system system /sys/class/leds/aw22xxx_led/para
    chown system system /sys/class/leds/aw22xxx_led/pattern

    chmod 666 /sys/class/leds/aw22xxx_led/reg
    chmod 666 /sys/class/leds/aw22xxx_led/hwen
    chmod 666 /sys/class/leds/aw22xxx_led/fw
    chmod 666 /sys/class/leds/aw22xxx_led/cfg
    chmod 666 /sys/class/leds/aw22xxx_led/effect
    chmod 666 /sys/class/leds/aw22xxx_led/imax
    chmod 666 /sys/class/leds/aw22xxx_led/rgb
    chmod 666 /sys/class/leds/aw22xxx_led/task0
    chmod 666 /sys/class/leds/aw22xxx_led/task1
    chmod 666 /sys/class/leds/aw22xxx_led/brightness
    chmod 666 /sys/class/leds/aw22xxx_led/max_brightness
    chmod 666 /sys/class/leds/aw22xxx_led/para
    chmod 666 /sys/class/leds/aw22xxx_led/pattern

    chmod 0755 mnt/vendor/persist/fan_light
    chown system system mnt/vendor/persist/fan_light
    chmod 664 /sys/nubia_hw_version/charge_version
    chown system system /sys/nubia_hw_version/charge_version

on post-fs-data
    # sensors sensitivity
    chown system system /sys/class/sensors_sensitivity/accel/accel_enable
    chown system system /sys/class/sensors_sensitivity/accel/accel_x
    chown system system /sys/class/sensors_sensitivity/accel/accel_y
    chown system system /sys/class/sensors_sensitivity/accel/accel_z
    chown system system /sys/class/sensors_sensitivity/gyro/gyro_enable
    chown system system /sys/class/sensors_sensitivity/gyro/gyro_x
    chown system system /sys/class/sensors_sensitivity/gyro/gyro_y
    chown system system /sys/class/sensors_sensitivity/gyro/gyro_z

    chmod 0664 /sys/class/sensors_sensitivity/accel/accel_enable
    chmod 0664 /sys/class/sensors_sensitivity/accel/accel_x
    chmod 0664 /sys/class/sensors_sensitivity/accel/accel_y
    chmod 0664 /sys/class/sensors_sensitivity/accel/accel_z
    chmod 0664 /sys/class/sensors_sensitivity/gyro/gyro_enable
    chmod 0664 /sys/class/sensors_sensitivity/gyro/gyro_x
    chmod 0664 /sys/class/sensors_sensitivity/gyro/gyro_y
    chmod 0664 /sys/class/sensors_sensitivity/gyro/gyro_z

    # Nubia dp
    chown system system /sys/devices/platform/soc/soc:nubia_usb_switch_dp_gpio_ctrl/enable
    chown system system /sys/devices/platform/soc/soc:nubia_usb_switch_dp_gpio_ctrl/cc_statue
    chown system system /sys/kernel/lcd_enhance/edid_modes
    chown system system /sys/kernel/lcd_enhance/hpd
    chown system system /sys/kernel/lcd_enhance/selected_edid

    chmod 666 /sys/devices/platform/soc/soc:nubia_usb_switch_dp_gpio_ctrl/enable
    chmod 666 /sys/devices/platform/soc/soc:nubia_usb_switch_dp_gpio_ctrl/cc_statue
    chmod 666 /sys/kernel/lcd_enhance/edid_modes
    chmod 666 /sys/kernel/lcd_enhance/hpd
    chmod 666 /sys/kernel/lcd_enhance/selected_edid
