allow system_app gamekey_sysfs:file { open read getattr };
allow system_app gamekey_sysfs:dir { open read search };
allow system_app sysfs_nb_fan:file { open read write getattr };
allow system_app sysfs_nb_fan:dir { open read search };
allow system_app sysfs_touch_lcd:file { open read write getattr };
allow system_app sysfs_touch_lcd:dir { open read search };
allow system_app sysfs_leds:dir { open read search };
allow system_app sysfs_healthd:dir { open read search };
allow system_app sysfs_healthd:file { open read getattr };

set_prop(system_app, gamekey_settings_prop)
get_prop(system_app, gamekey_settings_prop)
